<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/forms.css">
    <title>Delete Car</title>
</head>
<body>
<div class="wrapper">
    <form action="post" class="form">
        <h1>Delete Car</h1>
        <div class="inputbox">
          <label for="carCategory">Category:</label>
          <select id="carCategory" name="carCategory" class="select">
            <option value="">-- Select Category --</option>
            <option value="Luxury">Luxury</option>
            <option value="Sports">Sports</option>
            <option value="Economy">Economy</option>
          </select>
        </div>
        
      
        <div class="inputbox">
          <label for="carName">Name:</label>
          <input type="text" id="carName" name="carName">
        </div>
      
        <div class="inputbox">
          <label for="carColor">Color:</label>
          <input type="text" id="carColor" name="carColor">
        </div>
        <button type="submit" class="btn">Delete </button>
    </form>           
    </div>
    <script src="../js/Delete Car OR User.js"></script>
</body>
</html>