 <nav>
        <a href="#" class="brand">Gulf Limousine</a>

    <a href="#" class="brand"><img src="/Images/logo.png" alt="logo"></a>
    <div class="menubtn"></div>

    <div class="navigation">    
        <div class="navigation-items">
            <a href="home.html">Home</a>
            <a href="about.html">About</a>
            <a href="contact.html">Contact</a>
            <button onclick="showPopup('login')" class="nav-link">Login</button>
        </div>

    </div>

</nav>