<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/forms.css">
    
    <title>Document</title>
</head>
<body>z
    <div class="wrapper">
        <h2>Account Registration Form</h2>
        <form id="form" action="/register" method="POST">
            <div class="inputbox">
            <input type="text" id="name" name="FullName" placeholder="Full Name">
            <small class="error" id="name-error"></small>
            </div>
            <div class="inputbox">
            <input type="email" id="email" name="Email" placeholder="Email">
            <small class="error" id="email-error"></small>
            </div>
            <div class="inputbox">
            <input type="password" id="password" name="Password" placeholder="Password">
            <small class="error" id="password-error"></small>
        </div>
            <div class="inputbox">
            <input type="tel" id="phone" name="Phone" placeholder="phone number">
            <small class="error" id="phone-error"></small>
        </div>
            <div class="inputbox">
            <input type="text" id="license" name="licence" placeholder="Driver's License Number">
            <small class="error" id="license-error"></small>
        </div>
            <div class="inputbox">
            <label for="car">Preferred Car Type</label>
            <select id="car" name="car" class="select">
                <option value="sedan">Sedan</option>
                <option value="4x4">4x4</option>
                <option value="sports">Sports Car</option>
            </select>
        </div>
        
            <button type="submit" class="btn">Sign Up</button>
        </form>
    </div>

</body>
</html>