<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Add Car</title>
  <link rel="stylesheet" href="/css/forms.css">

</head>
<body>
  <div class="wrapper">
    <h1>Add Car</h1>
    <form id="addCarForm" enctype="multipart/form-data">
      <div class="inputbox">
        <label for="Name">Car Name:</label>
        <input type="text" id="Name" name="Name" placeholder="e.g., Toyota Corolla" required>
      </div>
      <div>
        <label for="Category">Car Category:</label>
        <select id="Category" name="Category" class="select" required>
          <option value="">Select Category</option>
          <option value="Economy">Economy</option>
          <option value="Luxury">Luxury</option>
          <option value="Sports">Sports</option>
        </select>
      </div>
      <div class="inputbox">
        <label for="Price">Price:</label>
        <input type="number" id="Price" name="Price" placeholder="e.g., 650" required>
      </div>
      <div class="inputbox">
        <label for="image">Upload Car Photo:</label>
        <input type="file" id="image" name="image" accept="image/*" required>
      </div>
      <button type="submit" class="btn">Add Car</button>
    </form>

    <div id="preview"></div>
  </div>

  <script src="/js/add car.js"></script>
</body>
</html>
