<nav id="nav">
    <a href="/" class="brand">
        Gulf Limousine    
            <img src="/Images/logo.png" alt="Gulf Limousine" style="height:48px;vertical-align:middle; margin-left: 200px;">

    </a>
    <div class="menubtn"></div>
    <div class="navigation">
        <div class="navigation-items">
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/contact">Contact</a>
            <% if (user) { %>
                <span class="nav-link">Welcome: <%= user.name %> :-)</span>
            <% } else { %>
                <button type="button" onclick="showPopup('login')" class="nav-link">Login</button>
            <% } %>
        </div>
    </div>
</nav>