@import url("https://fonts.googleapis.com/css2?family=poppins:wght@300&display=swap");

#carContractPopup, 
#carContractPopup * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

#carContractPopup {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 0; left: 0; width: 100vw; height: 100vh;
    background: rgba(0,0,0,0.5);
    z-index: 2000;
}

#carContractPopup .wrapper {
    width: 420px;
    max-width: 95vw;
    max-height: 90vh;
    overflow-y: auto;
    background-color: transparent;
    backdrop-filter: blur(40px);
    position: relative;
    background: rgba(255, 255, 255, 0.9);
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 2px solid white;
    color: antiquewhite;
}

#carContractPopup .wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/wal.jpg) no-repeat center center/cover;
    filter: blur(10px);
    z-index: -1;
}

#carContractPopup .wrapper h1 {
    font-size: 36px;
    text-align: center;
}
#carContractPopup .wrapper .inputbox {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}
#carContractPopup .inputbox input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid white;
    border-radius: 40px;
    font-size: 16px;
    color: orange;
    padding: 20px 45px 20px 20px;
}
#carContractPopup .inputbox input::placeholder {
    color: white;
}
#carContractPopup .inputbox i {
    position: absolute;
    right: 20px;
    color: rgb(255, 255, 255);
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}
#carContractPopup .wrapper .btn {
    width: 100%;
    height: 50px;
    background: white;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10PX rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-size: 16px;
    color: black;
    font-weight: 600;
    margin: 20px 0 2px 0;
}
#carContractPopup .wrapper .btn:hover {
    background: orange;
    color: white;
    transition: 0.3s ease;
}
#carContractPopup .wrapper .select {
    width: 100%;
    height: 20px;
    margin: 10px 0;
    border-radius: 10px;
    background: wheat;
    font-style: italic;
    font-weight: 700;
}
#carContractPopup .wrapper .date {
    color: white;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}
#carContractPopup .clsbtn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    color: orange;
    font-size: 20px;
    cursor: pointer;
}
#carContractPopup .inputbox .select {
    width: 100%;
    height: 50px !important;
    border-radius: 40px;
    background: transparent !important;
    border: 2px solid white;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: orange;
    padding: 0 20px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
#carContractPopup .inputbox .select option:first-child {
    color: white;
}