.swal2-signup-modal {
    background: transparent !important;
    box-shadow: none !important;
}
.swal2-popup {
    background: transparent !important;
    box-shadow: none !important;
}
.swal2-close {
    right: 20px !important;
    top: 15px !important;
    font-size: 2rem !important;
}